<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stalker</title>
    <!-- Import Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .input-field input[type="text"] {
            width: 25%;
        }
    </style>
</head>
<body>
    <header>

    </header>
    <main>
        <section id="home">
            <h1>stalker</h1>
            <p>look someone up using the form below</p>
            <form>
                <div class="input-field">
                    <label for="firstNameInput">first</label>
                    <input type="text" id="firstNameInput" name="firstNameInput" class="validate">
                </div>
                <div class="input-field">
                    <label for="lastNameInput">last</label>
                    <input type="text" id="lastNameInput" name="lastNameInput" class="validate">
                </div>
                <div class="input-field">
                    <label for="highSchoolInput">high school</label>
                    <input type="text" id="highSchoolInput" name="highSchoolInput" class="validate">
                </div>
                <div class="input-field">
                    <label for="collegeInput">college</label>
                    <input type="text" id="collegeInput" name="collegeInput" class="validate">
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Stalker. All rights reserved.</p>
    </footer>
    <!-- Import Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
